name: DrupalQA test
on:
  workflow_dispatch:

jobs:
  drupalqa:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: DrupalQA
        uses: hussainweb/drupalqa-action@main
